.profile__edit-button {
	padding: 0;
	width: 24px;
	height: 24px;
	background-color: inherit;
	transform: translate(0, 4px);
	border: none;
 }
 @media screen and (max-width: 918px) {
	.profile__edit-button {
	  width: 18px;
	  height: 18px;
	  transform: none;
	}
 }