.popup__input {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	height: 40px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	padding: 0;
	
 }
 @media screen and (max-width: 800px) {
	.popup__input {
	  height: 37px;
	  margin-bottom: 19px;
	}
 }