.popup__container {
  background-color: white;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  transform: translate(-0%, -60%);
  padding: 34px 36px 37px;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
    height: 322px;
  }
} 